<%# app/view/clients/index.html.erb %>
<div class="flex flex-col relative w-full mt-8">
  <div class="flex justify-between items-center">
    <h1 class="text-5xl">My Clients</h1>
    <%= link_to 'New Client', new_client_path, class: "m-3 mt-10 p-2 rounded-md border-1 border-slate-200 text-xs text-gray-700 text-base/6 font-semibold uppercase hover:bg-slate-100" %>
  </div>
  <div class="overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="rounded-t-lg text-xs text-gray-700 text-base/6 uppercase bg-gray-50">
      <tr class="bg-gray-200">
        <th class="px-4 py-2 text-left uppercase">Name</th>
        <th class="px-4 py-2 text-left uppercase">Email</th>
        <th class="px-4 py-2 text-left uppercase">Phone Number</th>
        <th class="px-4 py-2 text-left uppercase" colspan="4">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td class="px-4 py-2"><%= client.first_name %> <%= client.last_name %></td>
          <td class="px-4 py-2"><%= client.email %></td>
          <td class="px-4 py-2"><%= client.phone %></td>
          <td class="px-4 py-2"><%= link_to 'Schedule Appointment', new_client_appointment_path(client_id: client.id), class: "hover:underline"%></td>
          <td class="px-4 py-2"><%= link_to 'Show', client, class: "hover:underline" %></td>
          <td class="px-4 py-2"><%= link_to 'Edit', edit_client_path(client), class: "hover:underline" %></td>
          <td class="px-4 py-2"><%= button_to 'Delete', client, method: :delete, class: "cursor-pointer hover:underline", data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>
</div>