<%# app/views/appiointments/_form.html.erb %>
<% if appointment.errors.any? %>
  <div id="error_explanation" class="mb-6 p-4 border-2 border-red-600 bg-red-100 rounded-lg">
    <p class="font-medium text-red-700 mb-2"><%= pluralize(appointment.errors.count, "error") %> need to be addressed before this client can be saved:</</p>
    <ul class="list-disc font-light ml-6 text-sm">
      <% appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if appointment.client_id.present? %>
  <div class="field mb-6">
    <%= f.label :client_id, class:"block mb-2 text-sm font-medium text-gray-900 capitalize" %>
    <%= f.text_field :client_id, value: appointment.client.full_name, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 cursor-not-allowed", disabled: true %>
  </div>
<% else %>
  <div class="field">
      <%= f.label :client_id, class:"block mb-2 text-sm font-medium text-gray-900 capitalize" %>
      <%= f.collection_select :client_id, current_user.clients, :id, :full_name, prompt: "Select a Client", class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
  </div>
<% end %>

<div class="grid gap-2 mb-6 md:grid-cols-2">
  <div class="field">
      <%= f.label :location, class:"block mb-2 text-sm font-medium text-gray-900 capitalize" %>
      <%= f.select :location, Appointment.locations.keys.map { |l| [l.humanize, l] }, { prompt: "Select a Location" },  { class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm capitalize rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", maxlength: 55 } %>
  </div>
  <div class="field">
      <%= f.label :status, class:"block mb-2 text-sm font-medium text-gray-900 capitalize" %>
      <%= f.select :status, Appointment.statuses.keys.map { |s| [s.humanize, s] }, { prompt: "Select Status" }, { class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm capitalize rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", maxlength: 55 } %>
  </div>
</div>

<div class="grid gap-2 mb-6 md:grid-cols-2">
  <div class="field">
      <%= f.label :scheduled_at, class:"block mb-2 text-sm font-medium text-gray-900 capitalize" %>
      <%= f.datetime_select :scheduled_at, ampm: true, use_short_month: true, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
  </div>
  <div class="field">
      <%= f.label :duration_minutes, class:"block mb-2 text-sm font-medium text-gray-900 capitalize" %>
      <%= f.number_field :duration_minutes, class:"bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5", min: 15, step: 15 %>
  </div>
</div>

<div class="actions">
    <%= f.submit class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center cursor-pointer" %>
